.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 5rem 0;
}

mat-card{
    width: 40%;
}

mat-card-header{
    display: flex;
    justify-content: center;
}

mat-form-field{
    padding: 0px 1rem 0px 1rem;
}

mat-card-content{
    padding: 2rem 2rem 2rem 2rem;
}

mat-card-title{
    display: flex;
    justify-content: center;
}

p{
    font-family: Helvetica;
    font-size: 16px;
}

.contentHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.txtIcon{
    display: flex;
    justify-content: center;
    height: 0.5rem;
}

:host ::ng-deep .mat-tab-label{
    height: 30px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 80px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

h4{
    padding: 0px 2rem 0px 2rem;
}

mat-spinner{
    margin: auto;
}

.infoPrevisao{
float: left;
}

.infoImg{
    float: right;
}

.infoImg img{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100px;
    height: 100px;
}