<div class="container">
    <mat-card class="matCardSearch">
        <mat-card-header class="matHeaderSearch">
            <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
                <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input ngModel required matInput name="cidade">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Estado</mat-label>
                        <mat-select ngModel name="estadoSelecionado">
                            <mat-option *ngFor="let e of estados" value="{{e}}">{{e}}</mat-option>
                        </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Pesquisar</button>
            </form>
        </mat-card-header>
        <mat-spinner *ngIf="firstLoad == 1"></mat-spinner>
        <mat-card-content *ngIf="hasSearched == 1">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <div class="contentHeader" *ngIf="!isLoading">
                <h4>Cidade: {{resultadoPesquisa.cidade}}</h4>
                <h4>Temperatura atual: {{resultadoPesquisa.temperatura}}º Celsius Russomanos</h4>
            </div>

            <mat-tab-group *ngIf="!isLoading">
                <mat-tab *ngFor="let f of resultadoPesquisa.previsao" class="mat-tab" label="{{f.weekday}}">
                    <div class="infoPrevisao">
                        <h4>Data: {{f.date}}</h4>
                        <h4>Temperatura máxima: {{f.max}}</h4>
                        <h4>Temperatura mínima: {{f.min}}</h4>
                        <h4>Descrição: {{f.description}}</h4>
                    </div>
                    <div class="infoImg">
                        <img src="{{f.img}}" alt="">
                    </div>
                </mat-tab>
              </mat-tab-group>

        </mat-card-content>
    </mat-card>

</div>

<div class="container" *ngIf="hasSearched == 1">
    <mat-card class="matCardGraphic">
        <mat-card-header class="matHeaderSearch">
            <h4>Gráfico da previsão do tempo dos próximos dias</h4>
        </mat-card-header>
        <mat-card-content>
            <ngx-charts-bar-vertical-2d
                [view]="view"
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [legendTitle]="legendTitle"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical-2d>
        </mat-card-content>
    </mat-card>
</div>







            <!-- <mat-card-title>Cidade: {{resultadoPesquisa.cidade}}</mat-card-title>
            <h4>Descrição: {{resultadoPesquisa.descricaoTempo}}</h4>
            <h4>Horário: {{resultadoPesquisa.horario}} <mat-icon>timer</mat-icon></h4> 
            <h4>Temperatura: {{resultadoPesquisa.temperatura}} <mat-icon>search</mat-icon></h4>
            <h4>Umidade: {{resultadoPesquisa.umidade}}</h4>
            <h4>Velocidade do vento: {{resultadoPesquisa.velVento}}</h4>
            <h4>Data: {{resultadoPesquisa.data}} <mat-icon>calendar_today</mat-icon></h4> -->